@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Hind+Siliguri:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  
}
#preloader{
  background: #fff url(gifs/3rd_loader.gif) no-repeat center;
  background-size:8%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10000;
 
  
}
#exam{
  visibility: hidden;
}
.material-icons {
     cursor: pointer;
}
.main{
 /*background-color: #EEEEEE;*/
  background-color: #F3F3F3;
  width: 100%;
  min-height: 700px;
  max-height: 900px;
  z-index: 999px;
}
/* Designing head of the page .*/
.header {
   background-color: #FFFFFF;
   width: 100%;
   height:auto;
   box-shadow: 0px 2px 10px #8D8D95;
   font-family: 'Baloo Da 2', cursive;
   position: fixed;
   z-index: 1000;
  
   
}
.logo {
    display: inline;
}
.header  img {
     width: 180px;
     height: auto;
     padding: 5px;
     margin-left: 10px;
    
}
.links {
    position: absolute;
  /*  background-color: green;*/
    margin-top: 40px;
    margin-left: 30px;
}

.links a {
     color: #FF3F3F;
     padding: 5px 15px;
     font-size: 16px;
     text-decoration: none;
     cursor: pointer;
     border-radius: 10px;
     
}
.links a:hover {
     color: black;
}
.active-page {
     background-color:#DCDCDC;
     color: #000000;
}
.lang {
      position: absolute;
      margin-left: 650px;
      margin-top: 35px;
      font-weight: bolder;
      cursor: pointer;
}
#menu-down {
      margin-left: 698px;
      position: absolute;
      margin-top: 35px;
      cursor: pointer;
}
#menu-down span {
      cursor: pointer;
}
.lang-lists {
      visibility: hidden;
      position: absolute;
      margin-left: 650px;
      margin-top: 63px;
      width: 80px;
      background-color: #FFFFFF;
      border: 1px solid #E4E4E4;
      overflow: auto;
      z-index: 1;
      cursor: pointer; 
}
.show {
  visibility: visible;
  box-shadow:0px 2px 10px 1px #9D9D9DC4;
}
#lang-list a {
      display: block;
      padding: 5px 10px;
}
#lang-list a:hover {
      background-color: #D2D2D2;
}
#menu {
      visibility: hidden;
}

/* Head design is end*/
.mobile_line_brake {
     display: none;
}
#class-name {
    font-style: 25px;
    margin-left: 20px;
    background-color: #E0E0E0;
    display: inline;
    padding: 5px 10px;
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    font-family:'Baloo Da 2', cursive;
    font-weight: bold;
    position: absolute;
    z-index: 100px;
    cursor: pointer
}

#classes_down {
    margin-left: 115px;
    margin-top: 7px; 
    position: absolute;
    cursor: pointer;
}
/*designing the classes which will show to go in the viewers needed class*/

.classes {
    position: absolute;
    margin-top: 39px;
    margin-left: 20px;
    background-color: white;
    width:  210px;
    height: 400px;
    z-index: 10000px;
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    box-shadow: 2px 5px 10px 2px #EFEFEF;
    visibility: hidden;
    z-index: 30;
}
#select-classes:hover .classes {
     visibility: visible;
}
.class-content {
    background-color: white;
    width: 100%;
    height: 50px;
    margin: 2px 0px ;
    cursor: pointer;
    z-index: 30;
 /*   background-color: #565656;*/
 /*   border-bottom: 1px solid ;*/
}
.class-content:hover {
  transition: 0.5s;
    background-color:#42445A;
    color: white;
}
.class-content img {
    position: absolute;
    width: 40px;
    height:40px;
    margin: 4px 15px;
    z-index: 20;
  /*  margin-top: 4px;*/
}
.class-content a {
    position: absolute;
    margin-left: 70px;
    margin-top: 15px;
    font-family: 'Baloo Da 2', cursive;
    font-weight: bold;
    z-index: 20;
}
@keyframes my {
    0%{
      width: 11%;
      height: 10px;
      background-color: white;
    }
    50%{
      width: 30%;
      height: 80px;
  
      background-color:#FF3E3E;
    }
    100%{
    
      background-color: #FFFFFF;
    }
}
.class_subjects {
     display: inline-flex;
     min-width: 30%;
     min-height: 80px;
     background-color: #FFFFFF;
     margin: 10px 10px;
     border-radius: 5px;
     box-shadow: 4px 3px 10px 4px #DBDBDB;
     z-index: 2;
     animation-name: my ;
     animation-duration: 5s;
     animation-iteration-count: infinite;
}
#subject_en2 {
     margin-left:3px;
}
.class_subjects img {
  /*   border: 1px solid #000000;*/
     border-radius: 50%;
     position: absolute;
     width: 55px;
     height: 55px;
     margin: 12px 20px;
     z-index: 2;
}
.subject_name  {
     color: black;
     font-size: 16px;
     position: absolute;
     margin-left: 90px;
     margin-top: 30px;
     text-decoration: none;
     font-family: 'Baloo Da 2', cursive;
     font-weight: normal;
     z-index: 2;
}
.subjects {
  /*   background-color: blue;*/
     margin: 0 auto;
     display: inline;
     margin-left: 14px;
     z-index: 2;
}
iframe {
  border-radius: 5px;
  border: 1px solid #000000;
/*  margin-top: -565px;*/
  margin-top:90px;
  margin-left: 20px;
  position: absolute;
  
}

.topic_list_cover {
  position: absolute;
  margin-top: 90px;
  margin-left: 600px;
  background-color: white;
  width: 360px;
  height: 560px;
  overflow-x: auto;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  box-shadow: -1px 3px 20px 1px #E1E1E1;
}
.topic_list_cover .topic {
  font-family: 'Baloo Da 2', 'cursive';
  font-weight: bold;
  margin: 0px 20px;
  margin-top: 10px;
  padding-bottom: 5px;
/*  border-bottom: 2px solid #8C8C8C;*/
  font-style: 25px;
}
.topic .material-icons {
  position: absolute;
  margin-left: 155px;
  margin-top: 0px;
  
  
}
.rotate2 {
  transform: rotateX(160deg);
  transition: 90ms;
}
.all_topic_list {
  display: none;
  margin-top: 10px;
  transition: 5s;
}

.topic_list {
/*  display: block;*/
    display: block;
  font-weight: lighter;
  margin: 8px 5px;
  line-height: 20px;
  font-family: 'Baloo Da 2', 'cursive';
}
.topic_list .material-icons {
 /* position: absolute;*/
  margin-left: 50px;
  color: red;
  font-size: 22px;
}
.topic_list a {
  position: absolute;
  margin-left: 10px;
  color: red;
  margin-top: 0px;
}
.topic_list_show {
  display: block;
  transition: 5s
}
.border-show {
  position: absolute;
  display: block;
  height: 2px;
  width: 90%;
  margin-left: 20px;
  background-color: #ABABAB;
}
.vid-title {
  margin-top: 409px;
padding-left: 20px;
  position: absolute;
  font-family: 'Baloo Da 2', 'cursive';
}
.vid-title a {
  /*margin-left: 20px;*/
  font-family: 'Baloo Da 2', 'cursive';
  display: inline;
}
.vid_navigator_back {
   display: none;
}
#active_class{
  background-color: #42445A;
  color: white;
}
.cover{
  width: 100%;
  min-height: 800px;
  max-height: 900px;
  background: linear-gradient(40deg,#000754,#919191)
}
.class_select_cover{
  width: 70%;
  height: 800px;
  background: url(images/backgrounds/study.png);
  background-size: cover;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  position: relative;
  display: inline-block;
}
.select_cover{
  /*background: linear-gradient(#000646,#656565);*/
  min-width: 400px;
  height: 80px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-left: 60px;
  position: absolute;
  color: white;
  font-weight:bolder;
}
.main_classes{
  width: 300px;
  background: rgba(255, 255, 255, 0.2);;
  margin: 50px;
  padding: 15px 20px;
  font-size: 30px;
  border-radius: 5px;
  font-family: 'Baloo Da 2', cursive;
  text-align: center;
  backdrop-filter: blur(4px) saturate(180%);
  
}
.main_classes i {
  margin-top: -12px;
  position: absolute;
}
.confirm_select{
   min-width: 60px;
  background: rgba(255, 255, 255, 0.2);;
 /* margin: 50px;*/
  padding: 15px 20px;
  font-size: 30px;
  border-radius: 10px;
 font-family: 'Baloo Da 2', cursive;
  backdrop-filter: blur(4px) saturate(180%);
}
.confirm_select a {
  color: #fff;
  text-decoration:none;
}
.photoes{
/*  background: green;*/
  width: 30%;
  height: 800px;
  position: absolute;
  display: inline-block;
}
.photoes a {
  position: absolute;
  margin-top: 50px;
  margin-left: 10px;
  font-size: 48px;
 /* font-family: 'Fredoka', sans-serif*/;
  font-family: 'Hind Siliguri', sans-serif;
  color: #fff;
  text-align: center;
}
.photoes img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  display: inline;
 margin-left: 40px;
 /* margin-top: 500px;*/
}
.first_photo{
  margin-top: 200px;
  width: 250px;
  height:250px ;
}
.second_photo{
  margin-top: 480px;
}
.vid_loader{
  background: url(../../../../gifs/vid_loader.gif) center no-repeat;
  width:560px;
  height: 315px;
  position: absolute;
  margin-top: 135px;
  margin-left: 20px;
  background-size: cover;
  z-index: 5000;
}
.sub_main_classes{
   width: 350px;
  background: rgba(255, 255, 255, 0.2);
  margin: 270px 0 0 -205px;
 /* padding: 15px 20px;*/
  font-size: 30px;
  border-radius: 5px;
  font-family: 'Baloo Da 2', cursive;
  text-align: center;
  backdrop-filter: blur(4px) saturate(180%);
  position: absolute;
}
.sub_main_classes a,li {
  color: #fff;
  text-decoration: none;
}
.sub_main_classes li {
  list-style: none;
}




























/*resposive for smart phones*/
@media only screen and (min-width: 330px) and (max-width: 390px) {
  /*head design*/
#preloader{
  background-size: 30%;
}
.vid_loader{
  width: 100%;
  height: 200px;
  margin-top:3px;
  margin-left: 0;
  position: absolute;
}
.material-icons {
     cursor: pointer;
}
.header img {
       width: 100px;
       height: auto;
       padding: 5px;
       margin-left: 10px;
}
.links {
       visibility: hidden;
}
.lang-lists  {
       display: none;
       ;
}
.lang {
       display: none;
}
#menu-down {
       display: none;
       cursor: pointer;
}
#menu {
      visibility: visible;
      position: absolute;
      font-size: 30px;
      margin-left: 200px;
      margin-top: 9px;
      cursor: pointer;
}
#menu span {
      cursor: pointer;
}
#menu:hover {
     /* box-shadow: 0px 0px 7px 5px #2985FF;
      transition: 1.7s;*/
      cursor: pointer;
      
}
.mobile_menu_content {
      margin-top: 61px;
   /*   margin-left: 8px;*/
      position: absolute;
      z-index: 110;
      background-color:#FFFFFF;
      width: 0%;
    /*  margin: 0 auto;*/
      height: 0px;
      visibility: hidden;
      border: 1px solid #C6C6C6;
      border-radius: 2px;
      z-index: 1001;
      position:fixed;
      float: right;
      transition: 90ms;
}

.mobile_menu_content a {
      display: block;
      padding: 5px 10px;
      color: black;
      text-decoration: inherit;
      font-family: 'Baloo Da 2', cursive;
      cursor: pointer;
}
.mobile_menu_content a:hover {
      color: red;
      background-color: #DCDDD5
}
.visibility {
      visibility: visible;
      height: 100vh;
      width: 80%;
      transition: 90ms;
}
.mobile_menu_content .mobile_active_page {
     color: red;
     background-color: #DCDDD5;
     font-family: 'Baloo Da 2', cursive;
}
.mobile_lang {
     display: inline;
}
.mobile_lang a {
     display: inline;
     font-weight: bolder;
}
.mobile_line_brake {
     display: none;
}
#class-name {
     margin-left: 10px;
     cursor: pointer;
}
#classes_down {
     margin-left: 105px;
}
.classes {
     margin-left: 10px;
}
.all_subjects {
     margin-top: -10px;
     
     border-bottom: 40px solid #42445A
}
.class_subjects {
     display: inline-flex;
     min-width: 40%;
     min-height: 100px;
     background-color: #FFFFFF;
     margin: 10px 10px;
     border-radius: 5px;
     box-shadow: 4px 3px 10px 4px #DBDBDB;
     z-index: 2;
  /*   animation-name: my ;
     animation-duration: 5s;
     animation-iteration-count: infinite*/;
     animation-name: none;
     display: grid;
     grid-template-columns: (4,10px);
}
.class_subjects {
  width: 98%;
  margin-left: 2px;
  margin-top: 5px;
}
#subject_en2 {
  margin-top:-18px;
}
.class_subjects img {
  margin-top: 22px;
}
.class_subjects a {
   margin-top: 42px;
}
/*#subject_en2 {
    margin-left:3px;
}
#subject_en1 {
    margin-left: 15px;
}
.class_subjects img {
  /*   border: 1px solid #000000;*/
   /*  border-radius: 50%;
     position: absolute;
     width: 55px;
     height: 55px;
     margin: 10px 0px;
     margin-left: 12%;
     z-index: 2;
}
.subject_name  {
     text-align: center;
     color: black;
     font-size: 16px;
    /* position: absolute;*/
   /*  margin-left: 14px;*/
   /*  margin-top: 75px;
     text-decoration: none;
     font-family: 'Baloo Da 2', cursive;
     font-weight: normal;
     z-index: 2;
}
.subjects {
  /*   background-color: blue;*/
  /*   margin: 0 auto;
     display: inline;
     margin-left: 14px;
     z-index: 2;
}
*/


iframe {
 /* align-items: center;*/
  border: 1px solid black;
  border-radius: 0px;
/*  margin-top: -699px;*/
  margin-top:2px;
 margin-left: 0px;
  width: 99%;
  height: 200px;
  position: fixed;
/*  display :block;*/
/*display: inline;*/
}

.topic_list_cover {
  position: fixed;
  margin-top: 280px;
  margin-left: 0px;
  background-color: white;
  width: 360px;
  height: 400px;
  overflow-x: auto;
  border-radius: 0px;
  border: 1px solid #E8E8E8;
  box-shadow: -1px 3px 20px 1px #E1E1E1;
}
.topic_list_cover .topic {
  font-family: 'Baloo Da 2', 'cursive';
  font-weight: bold;
  margin: 0px 20px;
  margin-top: 10px;
  padding-bottom: 5px;
/*  border-bottom: 2px solid #8C8C8C;*/
  font-style: 25px;
  cursor: pointer;
}
.topic{
  cursor: pointer;
}
.topic .material-icons {
  position: absolute;
  margin-left: 155px;
  margin-top: 0px;
}
.rotate2 {
  transform: rotateX(160deg);
  transition: 90ms;
}
.all_topic_list {
  display: none;
  margin-top: 10px;
}

.topic_list {
/*  display: block;*/
    display: block;
  font-weight: lighter;
  margin: 8px 5px;
  line-height: 20px;
  font-family: 'Baloo Da 2', 'cursive';
  cursor: pointer;
}
.topic_list .material-icons {
 /* position: absolute;*/
  margin-left: 50px;
  color: red;
  font-size: 22px;
}
.topic_list a {
  position: absolute;
  margin-left: 10px;
  color: red;
  margin-top: 0px;
}

.topic_list_show {
  display: block;
}
.border-show {
  position: absolute;
  display: block;
  height: 2px;
  width: 90%;
  margin-left: 20px;
  background-color: #ABABAB;
}
.vid-title {
  background-color: white; 
 /* margin-top: -497px; */
 margin-top: 205px;
 position: fixed;
  width: 95%;
  height: 25px;
  padding: 0px 0px;
  padding-left: 15px;
  font-family: 'Baloo Da 2', 'cursive';
 padding-top: 8px;
 display: block ;
  
  
}
.vid_navigator_back {
   position: fixed ;
   background-color: #FF5A5A;
   width: 100%;
   height: 40px;
  /* margin-top: -459px;*/
   margin-top: 240px;
 display: block;
 display: flex;
 align-items: center;
}
.vid_navigator_back span {
  position: absolute;
  margin-left: 8px;
  margin-top: -20px;
  color: black;
  border-radius: 50%;
  padding: 8px;
  
}
.vid_navigator_back span:hover {
  background-color: #D7D7D7D1;
 
}


}


