@media only screen and (min-width: 300px) and (max-width: 400px) {
  /*head design*/
#preloader{
  background-size: 30%;
}
.vid_loader{
  width: 100%;
  height: 200px;
  margin-top:3px;
  margin-left: 0;
  position: absolute;
}
.material-icons {
     cursor: pointer;
}
.header img {
       width: 100px;
       height: auto;
       padding: 5px;
       margin-left: 10px;
}
.links {
       visibility: hidden;
}
.lang-lists  {
       display: none;
       ;
}
.lang {
       display: none;
}
#menu-down {
       display: none;
       cursor: pointer;
}
#menu {
      visibility: visible;
      position: absolute;
      font-size: 30px;
      margin-left: 200px;
      margin-top: 9px;
      cursor: pointer;
}
#menu span {
      cursor: pointer;
}
#menu:hover {
     /* box-shadow: 0px 0px 7px 5px #2985FF;
      transition: 1.7s;*/
      cursor: pointer;
      
}
.mobile_menu_content {
      margin-top: 61px;
   /*   margin-left: 8px;*/
      position: absolute;
      z-index: 110;
      background-color:#FFFFFF;
      width: 0%;
    /*  margin: 0 auto;*/
      height: 0px;
      visibility: hidden;
      border: 1px solid #C6C6C6;
      border-radius: 2px;
      z-index: 1001;
      position:fixed;
      float: right;
      transition: 90ms;
}

.mobile_menu_content a {
      display: block;
      padding: 5px 10px;
      color: black;
      text-decoration: inherit;
      font-family: 'Baloo Da 2', cursive;
      cursor: pointer;
}
.mobile_menu_content a:hover {
      color: red;
      background-color: #DCDDD5
}
.visibility {
      visibility: visible;
      height: 100vh;
      width: 80%;
      transition: 90ms;
}
.mobile_menu_content .mobile_active_page {
     color: red;
     background-color: #DCDDD5;
     font-family: 'Baloo Da 2', cursive;
}
.mobile_lang {
     display: inline;
}
.mobile_lang a {
     display: inline;
     font-weight: bolder;
}
.mobile_line_brake {
     display: none;
}
#class-name {
     margin-left: 10px;
     cursor: pointer;
}
#classes_down {
     margin-left: 105px;
}
.classes {
     margin-left: 10px;
}
.all_subjects {
     margin-top: -10px;
     
     border-bottom: 40px solid #42445A
}
.class_subjects {
     display: inline-flex;
     min-width: 40%;
     min-height: 100px;
     background-color: #FFFFFF;
     margin: 10px 10px;
     border-radius: 5px;
     box-shadow: 4px 3px 10px 4px #DBDBDB;
     z-index: 2;
  /*   animation-name: my ;
     animation-duration: 5s;
     animation-iteration-count: infinite*/;
     animation-name: none;
     display: grid;
     grid-template-columns: (4,10px);
}
.class_subjects {
  width: 98%;
  margin-left: 2px;
  margin-top: 5px;
}
#subject_en2 {
  margin-top:-18px;
}
.class_subjects img {
  margin-top: 22px;
}
.class_subjects a {
   margin-top: 42px;
}
iframe {
 /* align-items: center;*/
  border: 1px solid black;
  border-radius: 0px;
/*  margin-top: -699px;*/
  margin-top:2px;
 margin-left: 0px;
  width: 99%;
  height: 200px;
  position: fixed;
/*  display :block;*/
/*display: inline;*/
}

.topic_list_cover {
  position: fixed;
  margin-top: 280px;
  margin-left: 0px;
  background-color: white;
  width: 360px;
  height: 400px;
  overflow-x: auto;
  border-radius: 0px;
  border: 1px solid #E8E8E8;
  box-shadow: -1px 3px 20px 1px #E1E1E1;
}
.topic_list_cover .topic {
  font-family: 'Baloo Da 2', 'cursive';
  font-weight: bold;
  margin: 0px 20px;
  margin-top: 10px;
  padding-bottom: 5px;
/*  border-bottom: 2px solid #8C8C8C;*/
  font-style: 25px;
  cursor: pointer;
}
.topic{
  cursor: pointer;
}
.topic .material-icons {
  position: absolute;
  margin-left: 155px;
  margin-top: 0px;
}
.rotate2 {
  transform: rotateX(160deg);
  transition: 90ms;
}
.all_topic_list {
  display: none;
  margin-top: 10px;
}

.topic_list {
/*  display: block;*/
    display: block;
  font-weight: lighter;
  margin: 8px 5px;
  line-height: 20px;
  font-family: 'Baloo Da 2', 'cursive';
  cursor: pointer;
}
.topic_list .material-icons {
 /* position: absolute;*/
  margin-left: 50px;
  color: red;
  font-size: 22px;
}
.topic_list a {
  position: absolute;
  margin-left: 10px;
  color: red;
  margin-top: 0px;
}

.topic_list_show {
  display: block;
}
.border-show {
  position: absolute;
  display: block;
  height: 2px;
  width: 90%;
  margin-left: 20px;
  background-color: #ABABAB;
}
.vid-title {
  background-color: white; 
 /* margin-top: -497px; */
 margin-top: 205px;
 position: fixed;
  width: 95%;
  height: 25px;
  padding: 0px 0px;
  padding-left: 15px;
  font-family: 'Baloo Da 2', 'cursive';
 padding-top: 8px;
 display: block ;
  
  
}
.vid_navigator_back {
   position: fixed ;
   background-color: #FF5A5A;
   width: 100%;
   height: 40px;
  /* margin-top: -459px;*/
   margin-top: 240px;
 display: block;
 display: flex;
 align-items: center;
}
.vid_navigator_back span {
  position: absolute;
  margin-left: 8px;
  margin-top: -20px;
  color: black;
  border-radius: 50%;
  padding: 8px;
  
}
.vid_navigator_back span:hover {
  background-color: #D7D7D7D1;
 
}


}


